#Executables
*.out
*.exe

#Object files
*.o

#Libraries
*.a
*.so
*.lib
*.dll

#Editor specific files
compile_commands.json
.cache
*.swp
.~
*.sublime-workspace

#Build system output
Makefile
[Cc][Mm]ake*
!CMakeLists.txt
